apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'git@github.com:juergenrockmann/meilisearch.git'
    targetRevision: main
    path: infra-helm-argo/apps/traefik
    helm:
      releaseName: traefik
      valueFiles:
        - values-dev.yaml
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
